In [1]:
import pandas as pd

In [10]:
import numpy as np

In [11]:
df = pd.read_csv("CO2_emission.csv")
df.head()

,Country Name,country_code,Region,Indicator Name,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2019.1
0,Aruba,ABW,Latin America & Caribbean,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,South Asia,CO2 emissions (metric tons per capita),0.191745,0.167682,0.095958,0.084721,0.075546,0.068468,...,0.296506,0.259295,0.185624,0.146236,0.172897,0.149789,0.131695,0.163295,0.159824,0.159824
2,Angola,AGO,Sub-Saharan Africa,CO2 emissions (metric tons per capita),0.553662,0.544539,0.543557,0.708984,0.836804,0.912141,...,0.985522,0.950696,1.036294,1.099779,1.135044,1.031811,0.813301,0.777675,0.792137,0.792137
3,Albania,ALB,Europe & Central Asia,CO2 emissions (metric tons per capita),1.819542,1.242810,0.683700,0.638307,0.645355,0.605436,...,1.669423,1.503240,1.533630,1.668337,1.603775,1.557664,1.788786,1.782739,1.692248,1.692248
4,Andorra,AND,Europe & Central Asia,CO2 emissions (metric tons per capita),7.521832,7.235379,6.963079,6.724178,6.541579,6.733479,...,5.850886,5.944654,5.942800,5.807128,6.026182,6.080600,6.104134,6.362975,6.481217,6.481217

In [39]:
df.shape

(215, 35)

In [53]:
# df.describe ()

In [54]:
df.loc[1,'1990':'2019'] = df.loc[1,'1990':'2019'].fillna(df.loc[1,'1990':'2019'].mean())

In [55]:
list_of_Afghanistan = []
list_of_Afghanistan = df.loc[1,'1990':'2019']
print(list_of_Afghanistan)
print(len(list_of_Afghanistan))

1990    0.191745
1991    0.167682
1992    0.095958
1993    0.084721
1994    0.075546
1995    0.068468
1996    0.062588
1997    0.056827
1998    0.052691
1999    0.040157
2000    0.036574
2001    0.033785
2002    0.045574
2003    0.051518
2004    0.041655
2005    0.060419
2006    0.066583
2007    0.065312
2008    0.128417
2009    0.171862
2010    0.243614
2011    0.296506
2012    0.259295
2013    0.185624
2014    0.146236
2015    0.172897
2016    0.149789
2017    0.131695
2018    0.163295
2019    0.159824
Name: 1, dtype: object
30

# Calculating Mean of Afghanistan

In [56]:
def mean_of_list(listofvalues):
    sum = 0
    for i in range(len(listofvalues)):
        sum += listofvalues[i]
        mean = sum / len(listofvalues)
        return mean

In [57]:
mean_Afghanistan = mean_of_list(list_of_Afghanistan)
print(mean_Afghanistan)

0.0063915038333333335

In [60]:
# country_mean = df.loc[1,'1990':'2019'].mean()
# print(country_mean)

In [66]:
df.loc[1,'1990':'2019'].mean()

0.11689522946666667

# Calculating median of Afghanistan

In [63]:
def median_of_list(listofvalues):
    total_values = len(listofvalues)
    sorted_list  = sorted(listofvalues)
    mid = total_values // 2
    
    if(total_values % 2 == 0):
        median = (sorted_list[mid-1]+sorted_list[mid]) / 2
        return median
    else:
        median = sorted_list[mid]
        return median

In [64]:
median_Afghanistan = median_of_list(list_of_Afghanistan)
print(median_Afghanistan)

0.090339426

In [65]:
df.loc[1,'1990':'2019'].median()

0.090339426

# Calculating Mode of Afghanistan

In [67]:
def mode_of_list(listofvalues):
    new_dict = {}
    
    for i in listofvalues:
        if not i in new_dict:
            new_dict[i] = 1
        else:
            new_dict[i] += 1
            
    return [k for k,l in new_dict.items () if l == max(new_dict.values())]

In [87]:
mode_of_list(list_of_Afghanistan)

[0.191745115,
 0.167681579,
 0.095957742,
 0.08472111,
 0.075545827,
 0.068467956,
 0.062588034,
 0.056826618,
 0.052690856,
 0.040156965,
 0.036573704,
 0.03378536,
 0.045573659,
 0.051518377,
 0.041655394,
 0.060418781,
 0.066583291,
 0.065312346,
 0.128416559,
 0.171862421,
 0.243614036,
 0.29650624,
 0.259295334,
 0.18562366,
 0.146235617,
 0.172896741,
 0.149789334,
 0.131694556,
 0.1632953,
 0.159824372]

In [88]:
# df.loc[1,'1990':'2019'].mode()

# Measures of Dispersion
Range,
Variance,
Standard Deviation,
IQR

 # Calculating Range Afghanistan

In [73]:
def range_of_list(listofvalues):
    max_value = max(listofvalues)
    min_value = min(listofvalues)
    
    return max_value - min_value

In [74]:
range_of_list(list_of_Afghanistan)

0.26272088

# Calculating Variance  Afghanistan

In [75]:
def variance_of_list(listofvalues):
    mean_listofvalues = mean_of_list(listofvalues)
    total_obs = len(listofvalues)
    
    sum_numerator = 0
    
    for i in range (total_obs):
        temp = (listofvalues [i] - mean_listofvalues)**2
        
        sum_numerator +=temp
    var_listofvalues = sum_numerator / total_obs
    return var_listofvalues

In [78]:
variance_Afghanistan = variance_of_list(list_of_Afghanistan)
variance_Afghanistan

0.01730468672091255

# Calculating Std dev Afghanistan

In [79]:
def std_of_list(listofvalues):
    variance = variance_of_list(listofvalues)
    
    return variance **(1/2)

In [80]:
std_Afghanistan = std_of_list(list_of_Afghanistan)
std_Afghanistan

0.13154727941281247

# Finding Quartiles

In [81]:
def find_quartile(x,listofvalues):
    sorted_list = sorted(listofvalues)
    total_values = len(sorted_list)
    
    if total_values % 2 == 0:
        mid = total_values // 2
        lower_half  = sorted_list[:mid]
        upper_half = sorted_list[mid:]
    else:
        mid = total_values // 2
        lower_half = sorted_list[:mid]
        upper_half = sorted_list[mid+1:]
        
    if x == 1:
        return median_of_list(lower_half)
    else:
        return meadian_of_list(upper_half)

In [84]:
firstquartile_Afghanistan = find_quartile(1,list_of_Afghanistan)
firstquartile_Afghanistan

0.056826618

In [85]:
thirdquartile_Afghanistan = find_quartile(3,list_of_Afghanistan)
thirdquartile_Afghanistan

0.167681579

# Finding Inter-Quartile Range

In [86]:
IQR_Afghanistan = thirdquartile_Afghanistan - firstquartile_Afghanistan
IQR_Afghanistan

0.110854961